body {
    background-color: rgb(205, 163, 245);
}

h1 {
    background-color: rgb(0, 129, 129);
    border: 5px solid rgb(86, 190, 211);
    margin-bottom: auto;
}

/* li[class^="a"] matches any attribute value which starts with a, so matches the first two list items.
li[class$="a"] matches any attribute value that ends with a, so matches the first and third list item.
li[class*="a"] matches any attribute value where a appears anywhere in the string, so it matches all of our list items. */
.dino {
    background: #e22b2b;
}

span[class="dino"] {
    color: aquamarine;
    text-shadow: 4px 4px 3px rgb(8, 3, 3);
}

/* universal selector */
*{
    margin: 0px;
}

.box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 10px;
  height: 100px;
  /* try changing the margin properties: */
  margin-top: -40px;
  margin-right: 4em;
  margin-bottom: 40px;
  margin-left: 4em;
}


.container {
    border: 2px solid black;
    margin: 40px;
}

ul {
  font-family: sans-serif;
  display: flex;
  list-style: none;
  border: 2px solid #000;
  padding: 0;
  gap: 15px;
}

li.one {
  background-color: rgb(215, 0, 0);
  padding: 1em 2em;
  color: white;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
  cursor: no-drop;
}

li.one:hover {
  background-color: #90e22b;
  color: transparent; /* Hide original text */
}

li.one::after {
  content: attr(data-hover);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
  transition: 0.2s;
  pointer-events: none;
  white-space: nowrap;
}

li.one:hover::after {
  opacity: 1;
}

li.one:hover{
  border: 10px solid black;
}
li.one:hover{
  border: 10px double black;
}

.sizing-parent{
  width: 50%;
  height: 300px;
  background: rgb(0, 0, 0);
  padding-top: 55px;
  margin-bottom: 55px;

}
.hehe:hover{
  color: #90e22b;
  transition: 0.4s;
  font-size: 100px;
  
}
.sizing-child{
  background-color: #10d7b66c;
  width: 250;  
  height: 250px;
  margin: 200px;
}
